DB_NAME=financiando
DB_USER=financiando_user
DB_PASSWORD=password
DB_URL=jdbc:postgresql://localhost:5432/financiando

# DEEPSEEK_API_KEY=
# WHATSAPP_TOKEN=
# WHATSAPP_VERIFY_TOKEN=
# WHATSAPP_APP_SECRET=
# JWT_SECRET=