DB_NAME=financiando
DB_USER=financiando_user
DB_PASSWORD=password
DB_URL=jdbc:postgresql://localhost:5432/financiando
TWILIO_AUTH_TOKEN=12345678910
# DEEPSEEK_API_KEY=
# WHATSAPP_TOKEN=
# WHATSAPP_VERIFY_TOKEN=
# WHATSAPP_APP_SECRET=
# JWT_SECRET=